doctype html
html
  head
    title= title
    //-<!-- build:css dist/css/style.css -->
    link(rel='stylesheet', href='public/css/blue.css')
    link(rel='stylesheet', href='public/css/green.css')
    link(rel='stylesheet', href='public/css/red.css')
    //-<!-- endbuild -->
  body
    block content
    //-<!-- build:js dist/js/scripts.js -->
    script(src='./public/js/script1.js')
    script(src='./public/js/script2.js')
    script(src='./public/js/script2.js')
    //-<!-- endbuild -->
